<div class="card">
  <a href="{{ project.url | relative_url }}">
    {% if project.background %}
      <img class="card-img-top" src="{{ project.image | relative_url }}">
    {% else %}
      <div class="card-img-top bg-secondary"></div>
    {% endif %}
  </a>

  <div class="card-body position-relative">
    <h5 class="card-title">
      <a class="stretched-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h5>


    <div class="card-text">
      {% if post.description %}
        {{ post.description | markdownify | truncatewords: 20 }}
      {% else %}
        {{ post.excerpt | truncatewords: 20 }}
      {% endif %}
    </div>
  </div>


</div>
