<div class="card bg-light text-center h-100" style="max-width: 400px;">
  <a href="{{ project.url | relative_url }}">
    {% if project.background %}
      <img class="card-img-top" src="{{ project.image | relative_url }}">
    {% else %}
      <div class="card-img-top bg-secondary"></div>
    {% endif %}
  </a>

  <div class="card-body position-relative">
    <h5 class="card-title">
      <a class="stretched-link" href="{{ project.url | relative_url }}">{{ project.title }}</a>
    </h5>


    <div class="card-text">
      {% if project.description %}
        {{ project.description | markdownify | truncatewords: 20 }}
      {% else %}
        {{ project.excerpt | truncatewords: 20 }}
      {% endif %}
    </div>
  </div>


</div>
