---
layout: default
description: Template for team page
---

{{ content }}
<div class="row">
  {% for member in site.data.team %}
      <div class="col-md-4">
        <div class="card border-0 h-100">
        {% if member.image %}
          <img class="card-img-top rounded-circle" src="{{ member.image | relative_url }}" alt="Card image cap">
        {% else %}
          <img class="card-img-top rounded-circle" src="{{ member.image | relative_url }}" alt="Card image cap">
        {% endif %}
          <h5 class="card-title">{{ member.name | markdownify }}</h5>
          <h6 class="card-subtitle">{{ member.role | markdownify }}</h6>
          <div class="card-footer">
            <ul class="list-inline">
              {% if member.orcid %}
                <li class="list-inline-item">
                  <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
                </li>
              {% endif %}
      
              {% if member.researchgate %}
                <li class="list-inline-item">
                  <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate"></i></a>
                </li>
              {% endif %}
      
              {% if member.twitter %}
                <li class="list-inline-item">
                  <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
                </li>
              {% endif %}
      
              {% if member.github %}
                <li class="list-inline-item">
                  <a href="https://github.com/{{ member.github }}"><i class="fab fa-github"></i></a>
                </li>
              {% endif %}
      
              {% if member.email %}
                <li class="list-inline-item">
                  <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
                </li>
              {% endif %}
            </ul>
          </div>
      </div>
    </div>
  {% endfor %}
</div>