---
layout: default
description: Template for team page
---

{{ content }}
<h2 id="Professors" style="margin-top: 8px">Professors</h2>
<div class="row">
  {% for member in site.data.professors %}
    <div class="card mb-3 col-12 h-100" >
      <div class="row g-0">
        <div class="col-md-4">
          <a href="{{ member.leuvenlink | relative_url }}" class="stretched-link"></a>
          <img src="{{member.image | relative_url}}" class="img-fluid rounded-start mx-auto" style="display: block" alt="...">
          
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">{{member.name | markdownify}}</h4>
            <h5 class="card-subtitle text-muted">{{member.role | markdownify}}</h5>
            <p class="card-text">{{member.description | markdownify}}</p>
            <p class="card-text"><small class="text-muted">{{member.interests | markdownify}}</small></p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 id="Team">Team</h2>
<div class="row">
  {% for member in site.data.team %}
        <div class="card col-sm-6 col-md-4 col-lg-3 border-0 h-100">
        {% if member.image %}
          <img class="card-img-top rounded-circle" src="{{ member.image | relative_url }}" alt="Card image cap">
        {% else %}
          <img class="card-img-top rounded-circle" src="{{ member.image | relative_url }}" alt="Card image cap">
        {% endif %}
          <h4 class="card-title">{{ member.name | markdownify }}</h5>
          <h5 class="card-subtitle text-muted">{{ member.role | markdownify }}</h6>
        
          <div class="card-footer border-0 bg-transparent">
              {% if member.orcid %}
                <button type="button" class="btn border">
                  <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
                </button>
              {% endif %}
      
              {% if member.researchgate %}
              <button type="button" class="btn border">
                  <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate"></i></a>
                </button>
              {% endif %}
      
              {% if member.twitter %}
              <button type="button" class="btn border">
                  <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
                </button>
              {% endif %}
      
              {% if member.github %}
              <button type="button" class="btn border">
                  <a href="https://github.com/{{ member.github }}"><i class="fab fa-github"></i></a>
                </button>
              {% endif %}
      
              {% if member.email %}
              <button type="button" class="btn border">
                  <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
                </button>
              {% endif %}
            </ul>
          </div>
    </div>
  {% endfor %}
</div>
  <!-- <div class="d-flex team-member">
    <div class="flex-shrink-0 me-3">
      {% if member.image %}
        <img src="{{ member.image | relative_url }}">
      {% endif %}
    </div>
    <div>
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
          <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>

      {{ member.description | markdownify }}

      <ul class="list-inline">
        {% if member.orcid %}
          <li class="list-inline-item">
            <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
          </li>
        {% endif %}

        {% if member.researchgate %}
          <li class="list-inline-item">
            <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate"></i></a>
          </li>
        {% endif %}

        {% if member.twitter %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
          </li>
        {% endif %}

        {% if member.github %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ member.github }}"><i class="fab fa-github"></i></a>
          </li>
        {% endif %}

        {% if member.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div> -->
